{% extends 'avia_ticket_sales/tickets.html' %}{% load static %}{% block content1 %}
<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:02 am</h6>
                <p class="card-text">Дата рейса: Tue, May 7</p>
                <p class="card-text">Дата обратного рейса: Tue, May 7</p>
                  <h3>Цена: $55</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:00 am</h6>
                <p class="card-text">Дата рейса: Wed, May 8</p>
                <p class="card-text">Дата обратного рейса: Sat, May 11</p>
                  <h3>Цена: $57</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:00 am</h6>
                <p class="card-text">Дата рейса: Wed, May 8</p>
                <p class="card-text">Дата обратного рейса: Sat, May 11</p>
                  <h3>Цена: $58</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 7:45 pm - 10:00 pm</h6>
                <p class="card-text">Дата рейса: Wed, May 8</p>
                <p class="card-text">Дата обратного рейса: Tue, May 14</p>
                  <h3>Цена: $60</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:00 am</h6>
                <p class="card-text">Дата рейса: Wed, May 8</p>
                <p class="card-text">Дата обратного рейса: Tue, May 14</p>
                  <h3>Цена: $62</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 7:47 am - 10:00 am</h6>
                <p class="card-text">Дата рейса: Sat, May 4</p>
                <p class="card-text">Дата обратного рейса: Tue, May 7</p>
                  <h3>Цена: $64</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:02 am</h6>
                <p class="card-text">Дата рейса: Tue, May 7</p>
                <p class="card-text">Дата обратного рейса: Wed, May 8</p>
                  <h3>Цена: $70</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 7:40 am - 9:58 am</h6>
                <p class="card-text">Дата рейса: Thu, May 9</p>
                <p class="card-text">Дата обратного рейса: Sun, May 12</p>
                  <h3>Цена: $157</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 1:24 pm - 3:36 pm</h6>
                <p class="card-text">Дата рейса: Fri, May 17</p>
                <p class="card-text">Дата обратного рейса: Sun, May 19</p>
                  <h3>Цена: $168</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:53 pm - 10:00 pm</h6>
                <p class="card-text">Дата рейса: Sat, Jun 8</p>
                <p class="card-text">Дата обратного рейса: Mon, Jun 10</p>
                  <h3>Цена: $170</h3>
                <a href="#" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b">Забронировать</button></a>
              </div>
            </div>
        </div>
{% endblock %}