{% extends 'avia_ticket_sales/tickets.html' %}
{% load static %}
{% block content1 %}
    {% for ticket in tickets %}
        {% include 'avia_ticket_sales/widgets/ticket_card.html' with ticket=ticket %}
    {% endfor %}
    <nav class="list-pages">
        <ul>
            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% else %}
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}