{% extends 'avia_ticket_sales/tickets.html' %}
{% load static %}
{% block content1 %}

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:00 am</h6>
                <p class="card-text">Дата рейса: Wed, May 15</p>
                <p class="card-text">Дата обратного рейса: Tue, May 28</p>
                  <h3>Цена: $41</h3>
                <button type="button" class="btn btn-info" style="background-color: gray !important; border-color: gray; color: white; cursor: not-allowed; pointer-events: none;">Недоступно</button>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:00 am</h6>
                <p class="card-text">Дата рейса: Tue, May 14</p>
                <p class="card-text">Дата обратного рейса: Tue, May 21</p>
                  <h3>Цена: $51</h3>
                <a href="{% url 'ticket_reserve' '93015825-e4da-4baa-8068-8b2f11459021' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:00 am</h6>
                <p class="card-text">Дата рейса: Tue, May 14</p>
                <p class="card-text">Дата обратного рейса: Tue, May 14</p>
                  <h3>Цена: $52</h3>
                <a href="{% url 'ticket_reserve' '4ff3e4aa-3ece-4cf5-92a0-716d2c3a8448' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 5:47 am - 8:00 am</h6>
                <p class="card-text">Дата рейса: Wed, May 15</p>
                <p class="card-text">Дата обратного рейса: Tue, May 21</p>
                  <h3>Цена: $53</h3>
                <a href="{% url 'ticket_reserve' 'eca078c4-9de4-4696-9e40-6293a62ce47f' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 7:47 am - 10:00 am</h6>
                <p class="card-text">Дата рейса: Wed, May 15</p>
                <p class="card-text">Дата обратного рейса: Tue, May 21</p>
                  <h3>Цена: $58</h3>
                <a href="{% url 'ticket_reserve' '10147bc1-073e-4ea7-88c2-c194188b3486' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 7:49 am - 10:07 am</h6>
                <p class="card-text">Дата рейса: Wed, May 29</p>
                <p class="card-text">Дата обратного рейса: Wed, Jun 5</p>
                  <h3>Цена: $60</h3>
                <a href="{% url 'ticket_reserve' 'c17867e5-41cc-482e-b895-424af5b18a7b' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 7:52 pm - 11:59 pm</h6>
                <p class="card-text">Дата рейса: Fri, May 10</p>
                <p class="card-text">Дата обратного рейса: Tue, May 14</p>
                  <h3>Цена: $159</h3>
                <a href="{% url 'ticket_reserve' '6aabb4dd-6798-49e8-9250-8a4ce8e601c3' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 9:00 pm - 11:23 pm</h6>
                <p class="card-text">Дата рейса: Fri, Jun 7</p>
                <p class="card-text">Дата обратного рейса: Wed, Jun 19</p>
                  <h3>Цена: $167</h3>
                <a href="{% url 'ticket_reserve' '25261a5b-72a4-4222-8e33-04aa16fa6881' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 6:42 pm - 8:59 pm</h6>
                <p class="card-text">Дата рейса: Fri, May 31</p>
                <p class="card-text">Дата обратного рейса: Fri, Jun 14</p>
                  <h3>Цена: $173</h3>
                <a href="{% url 'ticket_reserve' '8d14240d-cefb-4c40-a6a4-01357878242b' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>

<div class="col p-2">
            <div class="card shadow rounded" style="width: 22rem; card-box-shadow: 1px">
              <div class="card-body">
                <h5 class="card-title">Из Atlanta-Hartsfield-Jackson</h5>
                <h5 class="card-title">В New-York-LaGuardia</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Время полета: 6:50 am - 9:00 am</h6>
                <p class="card-text">Дата рейса: Mon, Jul 22</p>
                <p class="card-text">Дата обратного рейса: Wed, Jul 31</p>
                  <h3>Цена: $179</h3>
                <a href="{% url 'ticket_reserve' 'c13c1996-8544-4bfc-9287-a54ac4bf075f' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Забронировать</button></a>
              </div>
            </div>
        </div>
{% endblock %}