{% extends 'avia_ticket_sales/user.html' %}
{% load static %}
{% block user_page %}
<div class="container text-center">
        <div class="row align-items-center">
            <div class="col">
            </div>
        </div>
            <div class="col">
                <div id="content">
                    <h1>Добро пожаловать, {{ user.first_name }}</h1>
                    <div id="user-info">
                        <h4><strong>Имя:</strong> {{ user.first_name }}</h4>
                        <h4><strong>Фамилия:</strong> {{ user.last_name }}</h4>
                        <h4><strong>Логин:</strong> {{ user.username }}</h4>
                        <h4><strong>Email:</strong> {{ user.email }}</h4>

                    </div>
                    <a href="{% url 'logout' %}" class="card-link"><button type="button" class="btn btn-info" style="background-color: #588c8b !important; border-color: #588c8b; color: white">Выйти из аккаунта</button></a>
                </div>
            </div>
    </div>

{% endblock %}